 @* <link rel="stylesheet" href="~/lib/FontAwesome/all.min.css">
<script src="~/lib/FontAwesome/all.min.js"></script> *@

 <script src="~/lib/jquery/dist/jquery.js"></script>


<template id="card-container">
    <div class="card">
        <div class="card-body">
            
            <h4 class="card-title">Card title</h5>
               <hr/>
            <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
            <h6 class="card-units mb-2 ">Card subtitle</h6>
            <h6 class="card-stock mb-2 ">Card subtitle</h6>
             <h6 class="card-price mb-2 ">Card subtitle</h6>
         
   <hr/>
       <center>
           <button type="button" title="Add To Cart" class="btn btn-info addCart" style="color: #ffffff; width: 100px; " data-bs-toggle="modal" data-bs-target="#modalAddCart">
           <i class="fa-solid fa-cart-shopping fa-lg  "></i>
        </button>
       
          
            </center>
             </div>
    </div>
</template>
<div class="parent">
        
</div>
<style>
   
    .card-body{
        color: #ffffff;
    }
    .card{
         display: flex; 
      display: inline-block;
       width: 18rem; 
       margin-right: 25px; 
       margin-bottom: 25px;

      
       border-radius: 10px;
      
       background-color: transparent;
        backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(25px); 

    }
   
</style>