<div id="receiptContent" hidden>
            <center>
                <br/><br/><br/>
             <H3>MJ'S CONVENIENT STORE</H3>
             <h5>Address: Malingin,Bogo City,Cebu</h5>

            </center>
            <br/>
            <div class="oID"></div>
             <div class="DATE"></div>
            <br/>
            <p>================================================================================</p>
            <div>Item&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Price&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Item Total</div>
            <br/>
            <template id="prodReceipt">
                <div class="receiptPName"></div>
                <div class="receiptPCat"></div>
                <div class="receiptPQuantity"></div>
                <br/>
            </template>
            <div class="parentReceipt"></div>

            <br/>
            <div class="receiptSubTotal"></div>
            <div class="receiptDiscount"></div>
            <br/>
            <div class="receiptTotal"></div>
            <div class="receiptCash"></div>
            <div class="receiptChange"></div>
            <br/><br/>
            <p>================================================================================</p>
            <center>
                <div class="receiptGesture"></div>
            </center>
            <p>================================================================================</p>
</div>