<div class="modal fade" style="   background-color: transparent;
        backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(25px); " id="modalOrderHistoryDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#4c6b7f;">
        <h5 class="modal-title" id="exampleModalLabel">Order History Detail</h5>
        <button type="button" id="modalOrderHistoryDetailClose" class="btn-close btn-light" data-bs-toggle="modal" data-bs-target="#modalOrderHistory" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="orderHistoryDetail" class="display">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Product Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
       </div>
      </div>
    </div>
  </div>
</div>