<div class="modal fade" style="   background-color: transparent;
        backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(25px); " id="modalOrderHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#4c6b7f;">
        <h5 class="modal-title" id="exampleModalLabel">Order History</h5>
        <button type="button" id="modalOrderHistoryClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="orderHistory" class="display">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Sub Total</th>
                    <th>Discount %</th>
                    <th>Deduction</th>
                    <th>Total Amount</th>
                    <th>Paid Amount</th>
                    <th>Change</th>
                    <th>Date Purchased</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
       </div>
      </div>
    </div>
  </div>
</div>